@page
@model IndexModel

<div class="menu">

</div>
<div class="tasks hidden">
    <div>
        <h4>Name</h4>
        <p id="name"></p>
    </div>
    <div>
        <h4 >Description</h4>
        <p id="desc"></p>
    </div>
    <div>
        <h4>Performers</h4>
        <p id="performers"></p>
    </div>
    <div>
        <h4>Start time</h4>
        <p id="startTime"></p>
    </div>
    <div>
        <h4>Status</h4>
        <p id="status"></p>
    </div>
    <div>
        <h4>Planned difficulty</h4>
        <p id="plannedDifficulty"></p>
    </div>
    
    <div>
        <h4>Total difficulty</h4>
        <p id="totalDifficulty"></p>
    </div>
    <div>
        <h4>Execution time</h4>
        <p id="executionTime"></p>
    </div>
    <div>
        <h4>Ending date</h4>
        <p id="finishTime"></p>
    </div>
    <a id="edit">Edit</a>
    <a id="delete">Delete</a>
</div>